.carousel {
    padding: 81px 0;

    &__inner {

        position: relative;
        width: 750px;
        margin: 0 auto;
    }

    .owl-prev, .owl-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;

        border: none;
        background-color: transparent;

        img {
            width: 31px;
            height: 50px;
        }
        
        &:focus {
            outline: none;
        }
    }

    .owl-next {
        left: auto;
        right: -66px;
    }

    &-dots {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 25px;

        button {
            display: block;
            margin-right: 10px;

            width: 4px;
            height: 12px;
            border: none;
            border-radius: 50%;

            background-color: $main_color;
            opacity: 0.4;

            transition: opacity .1s linear;
            
            &:last-child {
                margin-right: 0;
            }

            &:focus {
                outline: none;
            }
            &.active {
            opacity: 0.8;
            }
        }
    }

    

}