.carousel {
    padding: 81px 0;

    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;
    }

    .prev, .next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;

        border: none;
        background-color: transparent;

        img {
            width: 31px;
            height: 50px;
        }
        
        &:focus {
            outline: none;
        }
    }

    .next {
        left: auto;
        right: -66px;
    }

    .tns-item {
        img {
            display: block;
            margin: 0 auto;
        }
    }

    .tns-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 25px;

        button {
            display: block;
            margin-right: 5px;

            width: 4px;
            height: 12px;
            border: none;
            border-radius: 50%;

            background-color: $main_color;
            opacity: 0.4;

            transition: opacity .1s linear;
            
            &:focus {
                outline: none;
            }
        }
        .tns-nav-active {
            opacity: 0.8;
        }
    }

}
