.consultation {
    min-height: 680px;
    padding: 100px 0 92px 0;
    background: url(../../img/bg/form_bg.jpg) center (center/cover) no-repeat;

    &__descr {
        margin-top: 80px;

        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
    }

    .error {
        box-shadow: 0 0 0 1px red;
    }

    label.error {
        color: #fff;
        box-shadow: none;
        text-align: center;
        margin-bottom: 15px;
        font-size: 12px;
    }
}